.box{
    display: flex;
}
.all{
    width: fit-content;
    background: yellow;
    border: 2px solid royalblue;
}
.one{
    width: fit-content;
    background: rosybrown;
    border: 2px solid sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infa{
    width: fit-content;
    background: white;
    border: 1px solid beige;

}