*{
    margin: 0;
}
.text{
    width: 100%;
    height: 50px;
    background: silver;
    margin-bottom: 5px;
    display: flex;
    justify-content:space-between;
}
.text-infa{
    display: flex;
    flex-direction: column;
    width: 49%;
}
.box-btn{
width: 49%;
    display: flex;
    justify-content: flex-end;
}
.btn-del{
    height:100%;
    background: red;
    border: none;
    width: 100px;
}
.btn-up{
    width: 100px;
    height:100%;
    background: #52a230;
    border: none;
    margin-right: 10px;
}